[Unit]
After=suspend.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/systemctl restart mullvad-daemon.service

[Install]
WantedBy=suspend.target
